body {
    background-color: rgb(95, 177, 248);
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;

}


.part-nav {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-left: 5  px;
    align-items: stretch;
    /* align-items: center; */
    background-color: antiquewhite;
}

.nav-link .part-nav a {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 1%;
    background-color: rgb(255, 202, 105);
    text-align: center;
    transition: background-color .5s;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.nav-link .part-nav a:hover {
    background-color: rgb(192, 183, 183);
}

.content-header .cabecera {
    background-color: bisque;
    display: content;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(96, 106, 116);

}

.head-nav {
    background-color: bisque;
    background-size: 100px 100px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(96, 106, 116);
}
.nav-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-style:solid;
    border-radius: 5px;
    border-color: antiquewhite;
    box-shadow: 7px 10px 10px 10px rgba(103, 98, 98, 0.7);
    margin-left: 25%;
    margin-right: 25%;
    height: fit-content;
    padding:0;

}
